<!DOCTYPE html>
<html ng-app="cryptohelperApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>CryptyoHelper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-local-storage.min.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="./" class="navbar-brand">CryptyoHelper</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#/sell_helper">Sell Helper</a>
            </li>
            <li >
              <a href="#/buy_helper">Buy Helper</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="first-container container">
      <div class="row">
        <div ng-controller="ExchangeData" class="col-xs-6">
          <h1>Exchange Data</h1>
          <p>LTC - USD: <span ng-bind="exchangeDataService.ltc_usd.ticker.last"></span></p>
  <!--        <p>LTC - BTC<span ng-bind="exchangeDataService.ltc_btc.last"></span></p>
          <p>BTC - USD<span ng-bind="exchangeDataService.btc_usd.last"></span></p>-->

          <p>Fee: <span ng-bind="exchangeDataService.exchange_fee_percentage" class="percentage"></span>%</p>
        </div>
        <div ng-controller="UserData" class="col-xs-6">
          <h1>User Data</h1>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="num_ltc" class="col-sm-2 control-label">Litecoins</label>
              <div class="col-sm-4">
                <input id="num_ltc" class="form-control" ng-model="userDataService.num_ltc">
              </div>
            </div>
            
<!--            <div class="form-group">
              <label for="num_usd" class="col-sm-2 control-label">USD</label>
              <div class="col-sm-4">
                <input id="num_usd" class="form-control" ng-model="userDataService.num_usd">
              </div>
            </div>-->

            <!--      <p>Bitcoins owned</p>
            <input ng-model="userDataService.num_bitcoins">-->

            <div class="form-group">
              <label for="last_usd_num" class="col-sm-2 control-label">Last USD (Target)</label>
              <div class="col-sm-4">
                <input id="last_usd_num" class="form-control" ng-model="userDataService.last_usd_num">
              </div>
            </div>
            
            <div class="form-group">
              <label for="last_ltc_num" class="col-sm-2 control-label">Last LTC(Target)</label>
              <div class="col-sm-4">
                <input id="last_ltc_num" class="form-control" ng-model="userDataService.last_ltc_num">
              </div>
            </div>

            <div class="form-group">
              <label for="exchange_weighting" class="col-sm-2 control-label">Exchange weighting</label>
              <div class="col-sm-4">
                <input id="exchange_weighting" class="form-control" ng-model="userDataService.exchange_weighting">
              </div>
            </div>
            <!--<button type="submit" class="btn btn-default">Save</button>-->
          </form>
        </div>
      </div>
      <div class="row" id="content">
        <div ng-view class="view-frame"></div>
      </div>
      <div>
        <div class="row">
          <h1 class="text-center">LTC USD</h1>
          <iframe src="http://bitcoinwisdom.com/markets/btce/ltcusd" width="100%" height="400"></iframe>
        </div>
        <div class="row">
          <h1 class="text-center">BTC USD</h1>
            <iframe src="http://bitcoinwisdom.com/markets/btce/btcusd" width="100%"  height="400"></iframe>
        </div>
      </div>
      <div ng-controller="RawData">
        <div class="row">
          <h1 class="text-center">Raw Data</h1>
          <iframe src="http://bitcoinwisdom.com/markets/btce/ltcusd" width="100%" height="400"></iframe>
        </div>
        <div class="col-xs-6 col-sm-4">
          <h1 class="text-center">LTC -> USD</h1>
          <table class="table table-hover" >
            <tr>
              <th>Data key</th>
              <th>Data Value</th>
            </tr>
            <tr ng-repeat="(key,val) in exchangeDataService.ltc_usd.ticker">
              <td>{{key}}</td>
              <td>{{val}}</td>
            </tr>
          </table>      
        </div>

        <div class="col-xs-6 col-sm-4">
          <h1 class="text-center">LTC -> BTC</h1>
          <table class="table table-hover" >
            <tr>
              <th>Data key</th>
              <th>Data Value</th>
            </tr>
            <tr ng-repeat="(key,val) in exchangeDataService.ltc_btc.ticker">
              <td>{{key}}</td>
              <td>{{val}}</td>
            </tr>
          </table>      
        </div>

        <div class="col-xs-6 col-sm-4">
          <h1 class="text-center">BTC -> USD</h1>
          <table class="table table-hover" >
            <tr>
              <th>Data key</th>
              <th>Data Value</th>
            </tr>
            <tr ng-repeat="(key,val) in exchangeDataService.btc_usd.ticker">
              <td>{{key}}</td>
              <td>{{val}}</td>
            </tr>
          </table>      
        </div>
      </div>
    </div>
  </body>
</html>

